:root {
  --main-white-color: white;
  --main-black-color: black;
}

@mixin text_shadow() {
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.static {
  position: static;
}

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.toratto-section-home-banner {
  @media (min-width: 768px) {
    .offset-md-1 {
      margin-left: 10%;
    }

    .offset-md-2 {
      margin-left: 22%;
    }
  }
}

.toratto-section-home-banner.owl-carousel .owl-slide {
  position: relative;
  height: 100vh;
  background-color: lightgray;
}

.toratto-section-home-banner.owl-carousel .owl-slide-animated {
  transform: translateX(20px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.05s;
}

.toratto-section-home-banner.owl-carousel .owl-slide-animated.is-transitioned {
  transform: none;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}

.toratto-section-home-banner.owl-carousel .owl-slide-title {
  font-family: "CircularStd-Black", sans-serif;
  color: #fff;
  font-size: 6.2rem;
  font-weight: bold;

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    text-align: center;
    font-size: 3.2rem;
  }

  img {
    display: inline;
    width: 100px;
    height: 100px;
  }
}

.toratto-section-home-banner.owl-carousel .owl-slide-title.is-transitioned {
  transition-delay: 0.2s;
}

.toratto-section-home-banner.owl-carousel .owl-slide-subtitle {
  font-family: "CircularStd-Black", sans-serif;
  color: #fff;
  font-size: 2.2rem;
  font-weight: bold;
}

.toratto-section-home-banner.owl-carousel .owl-slide-subtitle.is-transitioned {
  transition-delay: 0.2s;
}

.toratto-section-home-banner.owl-carousel .owl-slide-subtitle-location {
  font-size: 35px;

  @include toratto_icon_white_text_green();
}

.toratto-section-home-banner.owl-carousel .owl-slide-subtitle-location.is-transitioned {
  transition-delay: 0.35s;

  .toratto-tag {
    background-color: #7cb046;
    padding: 12px;
    color: #fff;
    border-radius: 20px 0;
    font-size: 1.3rem;
  }
}

.vegas-content,
.toratto-project-banner {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.toratto-project-banner-container {
  @media (min-width: 768px) {
    .offset-md-1 {
      margin-left: 10%;
    }

    .offset-md-2 {
      margin-left: 22%;
    }
  }

  .toratto-project-banner-title {
    font-family: "CircularStd-Bold", sans-serif;
    color: #fff;
    font-size: 6.25rem;

    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      font-size: 3.5rem;
    }
  }

  .toratto-project-banner-subtitle {
    .location,
    .stage {
      background-color: #7cb046;
      padding: 12px;
      color: #fff;
      border-radius: 20px 0;
      font-size: 1.3rem;
    }
  }
}

.toratto-section-home-banner.owl-carousel .owl-slide-subtitle-action {
  @include toratto_icon_white_text_green();

  .stage {
    display: inline;
    float: right;
    font-size: 1.5rem;
  }
}

.toratto-section-home-banner.owl-carousel .owl-slide-subtitle-action.is-transitioned {
  transition-delay: 0.35s;

  .stage {
    display: inline;
    float: right;
    background-color: $theme-color-green;
    color: #fff;
    padding: 12px;
    border-radius: 20px 0;
    font-size: 1.1rem;
  }
}

.toratto-section-home-banner.owl-carousel .owl-slide-cta.is-transitioned {
  transition-delay: 0.5s;
}

.toratto-section-home-banner.owl-carousel .owl-dots {
  display: none;
}

.toratto-section-home-banner.owl-carousel .owl-dots,
.toratto-section-home-banner.owl-carousel .owl-nav {
  position: absolute;
}

.toratto-section-home-banner.owl-carousel .owl-dots .owl-dot,
.toratto-section-home-banner.owl-carousel .owl-nav [class*="owl-"]:focus {
  outline: none;
}

.toratto-section-home-banner.owl-carousel .owl-dots .owl-dot span {
  background: transparent;
  border: 1px solid var(--main-black-color);
  transition: all 0.2s ease;
}

.toratto-section-home-banner.owl-carousel .owl-dots .owl-dot:hover span,
.toratto-section-home-banner.owl-carousel .owl-dots .owl-dot.active span {
  background: var(--main-black-color);
}

.toratto-section-home-banner.owl-carousel .owl-nav {
  right: 10%;
  bottom: 10%;
  transform: translateX(-50%);
  margin: 0;
}

.toratto-section-home-banner.owl-carousel .owl-nav svg {
  opacity: 0.3;
  transition: opacity 0.3s;
}

.toratto-section-home-banner.owl-carousel .owl-nav button:hover svg {
  opacity: 1;
}

.toratto-section-home-banner.owl-carousel .owl-nav [class*="owl-"]:hover {
  background: transparent;
}

@media screen and (max-width: 575px) {
  .toratto-section-home-banner.owl-carousel .owl-nav {
    bottom: 10%;
    left: 40%;
  }

  .toratto-section-home-banner.owl-carousel .owl-nav svg {
    width: 50px;
    height: 50px;
  }
}
