.toratto-contact-page {
  padding-top: 150px;
  padding-bottom: 100px;
  background-color: #fff;

  .title-us-title-1,
  .title-us-title-2 {
    font-family: "CircularStd-Bold", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.15;
  }

  .title-us-title-1 {
    color: $theme-color-green;
  }

  .title-us-title-2 {
    color: $theme-color-blue;
  }

  .title-us-subtitle-1 {
    font-family: 'CircularStd-Black', sans-serif;
    color: $theme-color-green;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  .title-us-subtitle-2 {
    font-family: 'CircularStd-Bold', sans-serif;
    color: $theme-color-alt-blue;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .title-us-subtitle-3 {
    color: $theme-color-alt-blue;
    font-size: 1.8rem;
    font-family: "CircularStd-Bold", sans-serif;
    font-weight: bold;

    a {
      color: $theme-color-alt-blue;

      &:hover {
        text-decoration: none;
      }
    }

    .fab,
    .fas {
      color: $theme-color-green;
      margin-right: 20px;
    }
  }

  form {
    color: $theme-color-alt-blue;

    .toratto-form-required {
      color: $theme-color-green;
    }
  }
}

.toratto-contact-form-project-section {
  .project-btn {
    width: 100%;
    float: left;
    text-align: left;
    border-color: transparent;

    img {
      width: 25px;
    }

    li,
    li:hover {
      padding: 5px;
      list-style: none;
      background-color: #fff;

      .title {
        color: $theme-color-blue;
        font-weight: bold;
      }

      .sub-title {
        color: $theme-color-alt-blue;
      }
    }

    &::after {
      font-family: "icomoon", sans-serif;
      content: "\e908";
      font-size: 0.5rem;
      font-weight: bold;
      position: absolute;
      top: 45px;
      right: 30px;
      color: $theme-color-alt-blue;
      height: 38px;
      bottom: 0;
    }
  }

  .project-list-section {
    display: none;

    #project-list {
      padding-left: 0;

      img {
        width: 50px;
      }

      li {
        list-style: none;
        padding: 5px;
        background-color: #fff;

        .title {
          color: $theme-color-blue;
          font-weight: bold;
        }

        .sub-title {
          color: $theme-color-alt-blue;
        }

        img {
          margin: 5px;
        }
      }

      li:hover {
        background-color: $theme-color-alt-blue;

        .title {
          color: #fff;
          font-weight: bold;
        }

        .sub-title {
          color: #fff;
        }
      }
    }
  }

  #project-list li span,
  .project-btn li span {
    margin-left: 30px;
  }
}
