footer {
  .footer-top,
  .footer-bottom {
    color: #fff;

    a {
      color: #fff;
      border: 0;
    }

    a:hover,
    a:focus {
      color: $theme-color-green;
      text-decoration: none;
      border: 0;
    }

    i {
      margin-right: 10px;
      font-size: 1.5rem;
    }
  }

  .footer-top {
    padding: 60px 0;
    background: $theme-color-blue;
    text-align: left;
    color: #fff;
    font-size: 1.1em;

    img.logo-footer {
      max-width: 200px;
      margin-top: 0;
      margin-bottom: 30px;
    }

    .footer-about {
      font-size: 1.5rem;
      font-weight: bold;

      .fas {
        color: $theme-color-green;
      }
    }

    .footer-links {
      ul {
        list-style-type: none;

        li {
          margin-top: 0;
          margin-bottom: 1.5rem;
          font-size: 1.2rem;
        }
      }
    }

    .footer-message {
      background-color: $theme-color-soft-blue;
      font-size: 0.9rem;
      text-align: center;
      padding: 25px;
    }
  }

  .footer-bottom {
    padding: 15px 0 17px 0;
    background: $theme-color-green;
    text-align: left;
    color: #fff;
    font-weight: bold;

    .footer-copyright {
      padding-top: 5px;
    }

    .footer-social {
      text-align: right;

      i {
        font-size: 2rem;
        vertical-align: middle;
      }

      a {
        margin-left: 20px;
      }

      a:hover,
      a:focus {
        color: $theme-color-blue;
        font-weight: bold;
      }
    }
  }
}
