.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.navbar-toratto {
  background-color: transparent;
  color: #fff;

  .navbar-collapse.collapse.justify-content-between.align-items-center {
    .navbar-nav-toratto-center {
      .nav-item.menu-item {
        a.nav-link.hvr-underline-reveal {
          color: #fff;
          font-size: 1.2rem;
          font-weight: 600;
        }

        a.nav-link.hvr-underline-reveal:hover {
          color: $theme-color-green;
          border-bottom: 2px solid $theme-color-green;
        }
      }
    }
  }
}
