@mixin center($extend: true) {
  @if $extend {
    @extend %center;
  }

  @else {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

%center {
  @include center($extend: false);
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.navbar-toratto {
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;

  .mobile-menu-button {
    left: 35%;

    @media (min-width: 768px) {
      display: none;
    }

    i.fas {
      color: #fff;
      font-size: 2rem;
    }
  }

  .mobile-menu-button.scrolled {
    left: 35%;

    @media (min-width: 768px) {
      display: none;
    }

    i.fas {
      color: $theme-color-blue;
      font-size: 2rem;
    }
  }

  #mobile-navbar-collapse {
    background-color: #fff;
    border-radius: 5px;

    @media (min-width: 768px) {
      display: none !important;
    }

    .nav.navbar-nav {
      .nav-item {
        .nav-link {
          color: $theme-color-blue;
        }
      }
    }
  }

  .navbar-collapse.align-items-center {
    .navbar-nav-toratto-center {
      .nav-item {
        margin: 0 5px 0 5px;

        a.nav-link {
          font-family: "CircularStd-Bold", sans-serif;
          color: #fff;
          font-size: 1rem;
          font-weight: 600;
        }

        a.nav-link:hover {
          font-family: "CircularStd-Bold", sans-serif;
          color: $theme-color-green;
          border-bottom: 2px solid $theme-color-green;
        }
      }
    }

    .navbar-toratto-calltoaction {
      color: #fff;
      font-size: 1.2rem;
      font-weight: 600;

      .nav-item {
        a {
          color: inherit;

          .fas,
          .fab {
            color: $theme-color-green;
          }

          .fab.fa-whatsapp {
            font-size: 1.6em;
          }

          &:hover {
            color: $theme-color-green;
          }
        }

        a.btn-toratto-green {
          font-size: 1.2rem;
          font-weight: 600;
          border-color: $theme-color-green;

          &:hover {
            color: #fff;
            background-color: $theme-color-green;
            cursor: pointer;

            &::before {
              transform: translateX(300px)  skewX(-15deg);
              opacity: 0.6;
              transition: 0.7s;
            }

            &::after {
              transform: translateX(300px) skewX(-15deg);
              opacity: 1;
              transition: 0.7s;
            }
          }
        }
      }
    }
  }
}

.navbar-toratto.scrolled {
  background-color: #fff;
  color: $theme-color-blue;
  text-transform: uppercase;

  .navbar-collapse.align-items-center {
    .navbar-nav-toratto-center {
      .nav-item {
        margin: 0 5px 0 5px;

        a.nav-link {
          font-family: "CircularStd-Bold", sans-serif;
          color: $theme-color-blue;
          font-size: 1rem;
          font-weight: 600;
        }

        a.nav-link:hover {
          font-family: "CircularStd-Bold", sans-serif;
          color: $theme-color-green;
          border-bottom: 2px solid $theme-color-green;
        }
      }
    }

    .navbar-toratto-calltoaction {
      color: $theme-color-blue;
      font-size: 1.2rem;
      font-weight: 600;

      .nav-item {
        a {
          font-family: "CircularStd-Bold", sans-serif;
          color: inherit;

          .fas,
          .fab {
            color: $theme-color-green;
          }

          .fab.fa-whatsapp {
            font-size: 1.6em;
          }

          &:hover {
            color: $theme-color-green;
          }
        }

        a.btn-toratto-green {
          font-size: 1.2rem;
          font-weight: 600;
          border-color: $theme-color-green;

          &:hover {
            color: #fff;
            background-color: $theme-color-green;
            cursor: pointer;

            &::before {
              transform: translateX(300px)  skewX(-15deg);
              opacity: 0.6;
              transition: 0.7s;
            }

            &::after {
              transform: translateX(300px) skewX(-15deg);
              opacity: 1;
              transition: 0.7s;
            }
          }
        }
      }
    }
  }
}
