.toratto-section-model {
  background-color: $theme-color-green-hard;
  margin-top: 25px;

  .toratto-section-model-title {
    font-family: "CircularStd-Bold", sans-serif;
    text-align: center;
    color: #fff;
    margin: 60px 0 30px 0;
  }

  .toratto-section-model-rooms {
    margin-bottom: 10px;

    button {
      color: #fff;
      opacity: 0.5;
      border-bottom: 2px solid #fff;

      &:hover {
        opacity: 1;
      }
    }

    button.active {
      opacity: 1;
    }
  }

  .toratto-section-model-carousel {
    padding: 0 50px 0 50px;
    margin-bottom: 20px;

    .item {
      position: relative;

      img {
        width: 100%;
        height: 400px;
        transition: 0.5s ease;
        opacity: 1;
        display: block;
        backface-visibility: hidden;

        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
          height: 252px;
        }

        @media only screen and (min-width: 1900px) {
          height: 480px;
        }
      }

      .overlay {
        transition: 0.5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;

        .fas {
          background-color: $theme-color-blue;
          color: #fff;
          font-size: 3rem;
          padding: 15px;
          border-radius: 50px;
        }
      }
    }

    .item:hover img {
      opacity: 0.9;
    }

    .item:hover .overlay {
      opacity: 1;
    }

    .slick-dots {
      li {
        button::before {
          font-size: 1.2rem;
        }
      }

      li.slick-active {
        button::before {
          color: #fff;
        }
      }
    }

    .slick-prev {
      left: 0;
    }

    .slick-next {
      right: 0;
    }

    .slick-prev::before,
    .slick-next::before {
      font-size: 35px;
    }

    .slick-arrow {
      border-top: 3px solid #fff;
      border-right: 3px solid #fff;
    }
  }

  .toratto-model-info-name {
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0 5px 0 5px;
  }

  .nav.toratto-model-info {
    .nav-item {
      font-family: "CircularStd-Medium", sans-serif;
      color: #fff;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.18);
      border: 1px #fff solid;
      margin: 0 5px 0 5px;

      img {
        margin: 0 5px;
      }
    }
  }

  .toratto-section-model-form {
    color: #fff;

    p.h2.text-center {
      color: $theme-color-blue;
    }

    .toratto-quotation-form-subtitle {
      color: $theme-color-blue;
      font-weight: bold;
      text-transform: uppercase;
    }

    .form-control,
    .form-control.form-control-lg {
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff;
      padding-top: 22px;
      padding-bottom: 22px;

      &::placeholder {
        color: #fff;
        font-size: 1em;
      }
    }

    .form-check {
      color: #fff;
    }

    .input-group-prepend {
      .input-group-text {
        background-color: $theme-color-green-hard;
        color: $theme-color-blue;
      }
    }

    .btn.btn-toratto-green.btn-block {
      color: #fff;
      border-color: #fff;
      text-transform: uppercase;

      &:hover {
        color: $theme-color-blue;
        background-color: rgba(255, 255, 255, 0.5);
      }
    }

    .btn.btn-toratto-green {
      background-color: $theme-color-alt-green;
      color: #fff;
      padding: 12px 60px 12px 60px;

      &:hover {
        background-color: $theme-color-green;
      }
    }

    .toratto-form-required {
      color: #fff;
    }
  }

  .toratto-quotation-form-model-fake {
    .toratto-quotation-form-model-fake-btn {
      width: 100%;
      float: left;
      text-align: left;

      img {
        width: 50px;
      }

      li,
      li:hover {
        padding: 5px;
        list-style: none;
        background-color: #fff;

        .title {
          color: $theme-color-blue;
          font-weight: bold;
        }

        .sub-title {
          color: $theme-color-alt-blue;
        }
      }

      &::after {
        font-family: "icomoon", sans-serif;
        content: "\e908";
        font-size: 1.5rem;
        font-weight: bold;
        position: absolute;
        top: 0;
        right: 30px;
        color: $theme-color-alt-blue;
        height: 35px;
        bottom: 0;
        margin: auto 0;
      }
    }

    .toratto-quotation-form-model-fake-section {
      display: none;

      #toratto-quotation-form-model-fake-list {
        padding-left: 0;

        img {
          width: 50px;
        }

        li {
          list-style: none;
          padding: 5px;
          background-color: #fff;

          .title {
            color: $theme-color-blue;
            font-weight: bold;
          }

          .sub-title {
            color: $theme-color-alt-blue;
          }

          img {
            margin: 5px;
          }
        }

        li:hover {
          background-color: $theme-color-alt-blue;

          .title {
            color: #fff;
            font-weight: bold;
          }

          .sub-title {
            color: #fff;
          }
        }
      }
    }
  }

  #toratto-quotation-form-model-fake-list li span,
  .toratto-quotation-form-model-fake-btn li span {
    margin-left: 30px;
  }
}
