/* POP-UP
========================================== */

/* MIXINS
========================================== */

@mixin animation($animation) {
  -webkit-animation: #{$animation};
  -moz-animation: #{$animation};
  -o-animation: #{$animation};
  animation: #{$animation};
}

@mixin animation-delay($animation-delay) {
  -webkit-transition-delay: #{$animation-delay};
  -moz-transition-delay: #{$animation-delay};
  -o-transition-delay: #{$animation-delay};
  transition-delay: #{$animation-delay};
}

@mixin keyframes($keyframes) {
  @-webkit-keyframes #{$keyframes} { @content; }

  @-moz-keyframes #{$keyframes} { @content; }

  @-o-keyframes #{$keyframes} { @content; }

  @keyframes #{$keyframes} { @content; }
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin transition($transition) {
  -webkit-transition: #{$transition};
  -moz-transition: #{$transition};
  -o-transition: #{$transition};
  transition: #{$transition};
}

@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: #{$transition-delay};
  -moz-transition-delay: #{$transition-delay};
  -o-transition-delay: #{$transition-delay};
  transition-delay: #{$transition-delay};
}

/* KEYFRAMES
========================================== */

@include keyframes(float) {
  0% {
    transform: translateY(0);
    transform: translateX(0);
  }

  50% {
    transform: translateY(-30px);
    transform: translateX(20px);
  }

  100% {
    transform: translateY(0);
    transform: translateX(0);
  }
}

/* RESET
========================================== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pop-up {
  position: absolute;
  top: 50%;
  left: 50%;

  @include transform(translate(-50%, -50%) scale(0.9));

  overflow-y: auto;
  //  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;

  @include transition(all 0.3s);

  z-index: 10;
  background-color: transparent;
  width: 100%;
  height: 100%;

  @media (min-width: 768px) {
    width: calc(100% - 40px);
    height: auto;
    max-width: 900px;
  }

  .content {
    width: 100%;
    max-width: 900px;
    overflow: hidden;
    text-align: center;
    position: relative;
    min-height: 100vh;

    @media (min-width: 768px) {
      min-height: inherit;
    }

    .container {
      padding: 100px 20px 140px;

      @media (min-width: 568px) {
        padding: 50px 20px 80px;
      }

      @media (min-width: 768px) {
        margin: 0 auto;
      }
    }

    .close {
      position: absolute;
      top: 20px;
      left: 20px;
      font-size: 1.5rem;
      letter-spacing: 0.05rem;
      color: $theme-color-green;

      @include transition(all 0.4s);

      &:hover {
        cursor: pointer;
        color: $theme-color-blue;
      }
    }

    img {
      width: 100%;
      display: inline-block;
      opacity: 0;

      @include transform(translateX(60px));
      @include transition(0.2s);

      -webkit-backface-visibility: hidden;
    }
  }

  &.open {
    visibility: visible;
    opacity: 1;

    @include transform(translate(-50%, -50%) scale(1));

    img {
      opacity: 1;

      @include transition(1s);
      @include transition-delay(0.3s);
      @include transform(translateX(0));
    }
  }
}
