.toratto-section-home-project {
  margin: 25px;

  .col-md-4.col-sm-12.toratto-project-building-col {
    padding: 5px;
  }

  .card-img {
    filter: brightness(70%);
  }

  .card-title {
    color: #fff;
  }

  .toratto-project-card {
    min-height: 500px;
    padding: 30px;
    font-weight: bold;

    .card-body {
      .card-text {
        color: $theme-color-green;

        .far,
        .fas {
          color: $theme-color-blue;
        }
      }
    }

    .card-footer {
      background-color: transparent;
      border-top: none;
      padding: 0;

      .btn-toratto-green {
        width: 100%;
      }
    }
  }

  .card.toratto-project-building-card {
    height: 500px;

    img.card-img.img-hover-zoom {
      transform-origin: 65% 75%;
      transition: transform 1s, filter 0.5s ease-out;
      height: inherit;
    }

    &:hover img.card-img.img-hover-zoom {
      transform: scale(1.06);
    }

    .card-img-overlay {
      .card-title {
        text-align: center;
      }

      .card-text {
        color: $theme-color-green;
        font-size: 1.7em;
        margin-top: 30px;

        .far,
        .fas {
          color: $theme-color-blue;
        }
      }
    }
  }

  .toratto-project-building-projects {
    text-align: center;

    .btn.btn-toratto-green.btn-block {
      color: $theme-color-blue;

      &:hover {
        color: #fff;
      }
    }
  }
}

.toratto-blog-post,
.toratto-legal-doc-page {
  margin-top: 75px;
}
