.toratto-section-home-project {
  margin: 25px;

  .toratto-project-building {
    padding: 5px;
  }

  .card-img {
    filter: brightness(70%);
  }

  .card-title {
    color: #fff;
  }

  .toratto-project-card {
    min-height: 500px;
    padding: 30px;
    font-weight: bold;

    .card-body {
      .card-text {
        color: $theme-color-green;

        .far,
        .fas {
          color: $theme-color-blue;
        }
      }
    }

    .card-footer {
      background-color: transparent;
      border-top: none;
      padding: 0;

      .btn-toratto-green {
        width: 100%;
      }
    }
  }

  .card.toratto-project-building-card {
    height: 600px;
    transform-origin: 65% 75%;
    transition: transform 1s, filter 0.5s ease-out;

    &:hover {
      transform: scale(1.06);
    }

    .card-img {
      height: 600px;
    }

    .card-img-overlay {
      padding: 0;

      .card-title {
        text-align: center;
        padding: 1.25rem;
      }

      .card-bottom {
        bottom: 0;
        position: absolute;
        width: 100%;
        margin: inherit;
        background-color: rgba(0, 0, 0, 0.1);
        padding: 0.5rem;

        .card-text {
          color: #fff;
          font-size: 1.5em;
          margin-bottom: 0.5rem;
        }

        .far,
        .fas {
          color: $theme-color-blue;
        }
      }
    }
  }

  .card-bottom.toratto-project-building-card-bottom-info {
    background-color: #fff;
    padding: 10px;

    .toratto-project-building-card-bottom-info-location {
      float: left;

      span {
        float: left;
        clear: left;
        color: $theme-color-alt-blue;

        .far,
        .fas {
          color: $theme-color-green;
        }
      }

      .location,
      .stage {
        font-size: 1rem;
        font-weight: bold;
      }

      .stage {
        color: #fff;
      }

      .address {
        font-size: 0.8rem;
      }
    }
  }

  .toratto-project-building-projects {
    text-align: center;
    margin-top: 20px;

    .btn.btn-toratto-green.btn-block {
      color: $theme-color-blue;

      &:hover {
        color: #fff;
      }
    }
  }
}

.toratto-blog-post,
.toratto-legal-doc-page,
.toratto-blog-page,
.toratto-project-page {
  padding-top: 50px;
  background-color: #fff;
  padding-left: 50px;
  padding-right: 50px;
}

.toratto-blog-post {
  background-color: #fff;
  padding-left: 50px;
  padding-right: 50px;
}
