.toratto-project-banner-excerpt {
  color: #fff;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  transition-delay: 0.35s;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes toratto-project-banner-excerpt {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes toratto-project-banner-excerpt {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.toratto-project-info {
  min-height: 120px;
  display: flex;
  align-items: center;
  background-color: $theme-color-green;
  color: #fff;

  .toratto-project-info-item {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.18);
    border: 1px #fff solid;
    margin: 0 10px 0 10px;

    a {
      color: #fff;
      font-weight: bold;

      &:hover {
        text-decoration: none;
        color: $theme-color-blue;
      }
    }
  }

  .toratto-project-info-icon {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .far,
    .fas {
      font-size: 2em;
      color: $theme-color-blue;
    }
  }

  .toratto-project-info-content {
    text-align: center;

    .toratto-project-info-content-title,
    .toratto-project-info-content-text {
      font-size: 1.3em;

      a {
        color: #fff;

        &:hover {
          color: $theme-color-blue;
          text-decoration: none;
        }
      }
    }
  }
}

.toratto-project-common-areas {
  @include general_text_icon();
}

.toratto-project-location {
  min-height: 500px;
  display: flex;
  align-items: center;

  .card {
    border: 1px solid $theme-color-green;
    color: $theme-color-green;
    background: rgba(255, 255, 255, 0.9);

    .card-title {
      color: $theme-color-blue;
      text-align: center;
      font-weight: bold;
    }

    .card-text {
      font-weight: bold;
      font-size: 1.1em;
    }

    .fas {
      color: $theme-color-blue;
    }

    .card-footer {
      background-color: transparent;
      border-top: none;

      a.btn.btn-toratto-green {
        color: $theme-color-blue;
        width: 100%;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.toratto-section-video {
  .card {
    border: none;

    .card-body {
      display: flex;
      align-items: center;

      .card-title {
        text-align: center;
        font-weight: bold;
        color: $theme-color-blue;
        border: 1px solid #6cc24a;
        padding: 10px;
        border-radius: 5px;
      }
    }
  }
}
