body {
  font-family: "CircularStd-Book", sans-serif;
}

.toratto-section-title {
  line-height: 1;
  color: rgba(232, 232, 232, 0.5);
  font-family: "CircularStd-Black", sans-serif;
  font-weight: bold;
  font-size: 140px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

.toratto-section-background-00 {
  background: url(../images/trama00.png) 0 0 repeat;
}

.toratto-section-background-01 {
  background: url(../images/trama01.png) 0 0 repeat;
}

.toratto-section-background-02 {
  background: url(../images/trama02.png) 0 0 repeat;
}

.toratto-section-background-03 {
  background: url(../images/trama03.png) 0 0 repeat;
}

@mixin general_text_icon() {
  color: $theme-color-green;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  font-size: 25px;

  .far,
  .fas {
    color: $theme-color-blue;
  }
}

@mixin general_text_icon_simple() {
  color: $theme-color-green;
  font-size: 25px;

  .far,
  .fas {
    color: $theme-color-blue;
  }
}

@mixin toratto_text_icon() {
  color: $theme-color-green;

  .far,
  .fas {
    color: $theme-color-blue;
  }
}

@mixin toratto_icon_text_blue_white() {
  color: #fff;

  .far,
  .fas {
    color: $theme-color-blue;
  }
}

.btn-toratto-green {
  color: #fff;
  border-color: $theme-color-green;
  font-weight: bold;

  &:hover {
    color: #fff;
    background-color: $theme-color-green;
    border-color: $theme-color-green;
  }
}

.toratto-text-icon {
  @include toratto_text_icon();
}

.toratto-content-center {
  position: relative;
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.o_thread_window .o_thread_window_header {
  background-color: $theme-color-green !important;
}

.toratto-whatsapp-button.floating-wpp {
  bottom: 50px;
}
