body {
  font-family: "CircularStd-Book", sans-serif;
}

.toratto-font {
  font-family: "CircularStd-Book", sans-serif;
}

.western {
  font-family: "CircularStd-Book", sans-serif;

  span {
    font-family: "CircularStd-Book", sans-serif;
  }
}

.fancybox-close {
  color: $theme-color-green;
}

.toratto-green-link {
  color: $theme-color-green;
  text-decoration: none;

  &:hover {
    color: $theme-color-green;
    text-decoration: none;
  }
}

.toratto-section-title {
  line-height: 1;
  color: rgba(232, 232, 232, 0.5);
  font-family: "CircularStd-Black", sans-serif;
  font-weight: bold;
  font-size: 8.75rem;
  text-align: center;
  margin: 0;
  text-transform: uppercase;

  @media (max-width: 480px) {
    font-size: 3.5rem;
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    font-size: 3.5rem;
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    font-size: 5rem;
  }
}

.toratto-section-title-2 {
  line-height: 1;
  color: rgba(232, 232, 232, 0.5);
  font-family: "CircularStd-Black", sans-serif;
  font-weight: bold;
  font-size: 6rem;
  text-align: center;
  margin: 0;
  text-transform: uppercase;

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    font-size: 3rem;
  }
}

.toratto-custom-page.toratto-section-title,
.toratto-custom-page.toratto-section-title-2 {
  margin-top: 75px;
}

.toratto-section-background-00 {
  background: url(../images/trama00.png) 0 0 repeat;
}

.toratto-section-background-01 {
  background: url(../images/trama01.png) 0 0 repeat;
}

.toratto-section-background-02 {
  background: url(../images/trama02.png) 0 0 repeat;
}

.toratto-section-background-03 {
  background: url(../images/trama03.png) 0 0 repeat;
}

@mixin general_text_icon() {
  color: $theme-color-green;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  font-size: 25px;

  .far,
  .fas {
    color: $theme-color-blue;
  }
}

@mixin general_text_icon_simple() {
  color: $theme-color-green;
  font-size: 25px;

  .far,
  .fas {
    color: $theme-color-blue;
  }
}

@mixin toratto_text_icon() {
  color: $theme-color-green;

  .far,
  .fas {
    color: $theme-color-blue;
  }
}

@mixin toratto_icon_text_blue_white() {
  color: #fff;

  .far,
  .fas {
    color: $theme-color-blue;
  }
}

@mixin toratto_icon_white_text_green() {
  color: $theme-color-green;

  .far,
  .fas {
    color: $white;
  }
}

.btn-toratto-green {
  font-family: "CircularStd-Bold", sans-serif;
  color: #fff;
  border-color: $theme-color-green;
  font-weight: bold;

  &:hover {
    color: #fff;
    background-color: $theme-color-green;
    border-color: $theme-color-green;
  }
}

.btn-toratto-green-single {
  font-family: "CircularStd-Book", sans-serif;
  color: #fff;
  border-color: $theme-color-green;

  &:hover {
    color: #fff;
    background-color: $theme-color-green;
    border-color: $theme-color-green;
  }
}

.btn-toratto-green-full {
  font-family: "CircularStd-Bold", sans-serif;
  color: #fff;
  background-color: $theme-color-green;
  border-color: $theme-color-green;
  font-weight: bold;

  &:hover {
    color: $theme-color-blue;
    background-color: transparent;
    border-color: $theme-color-green;
  }
}

.btn-toratto-blue {
  font-family: "CircularStd-Bold", sans-serif;
  color: $theme-color-blue;
  border-color: $theme-color-green;
  font-weight: bold;

  &:hover {
    color: #fff;
    background-color: $theme-color-green;
    border-color: $theme-color-green;
  }
}

.btn-toratto-blue-single {
  font-family: "CircularStd-Book", sans-serif;
  color: $theme-color-blue;
  border-color: $theme-color-green;

  &:hover {
    color: #fff;
    background-color: $theme-color-green;
    border-color: $theme-color-green;
  }
}

.toratto-text-icon {
  @include toratto_text_icon();
}

.toratto-content-center {
  position: relative;
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.o_thread_window .o_thread_window_header {
  background-color: $theme-color-green !important;
}

.toratto-whatsapp-button.floating-wpp {
  top: 50%;
}

.grecaptcha-badge {
  bottom: 45px !important;
}

.toratto-leaf {
  color: #fff;
  font-size: 1.3rem;
  background-color: $theme-color-green;
  border-radius: 20px 0;
  padding: 6px;
  text-align: center;
}

.wrapper-whatsapp {
  z-index: 10;
  left: auto;
  right: 0;
  top: 50%;
  position: fixed;
  transition: bottom 0.2s;
  bottom: 17px;
}

.icon-wrapper-whatsapp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  margin: 0 20px;
  color: #333;
  background: rgb(37, 211, 102);
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 250ms color;
  -webkit-transition: 250ms color;
  -moz-transition: 250ms color;
  -ms-transition: 250ms color;
  -o-transition: 250ms color;
  animation-name: wave;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  .fab.fa-whatsapp {
    color: #fff;
    font-size: 2.5rem;
  }
}

@keyframes wave {
  0% { box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5); }
  100% { box-shadow: 0 0 0 15px rgba(255, 255, 255, 0); }
}
