body {
  font-family: "Montserrat", sans-serif;
}

.toratto-section-home-project {
  margin: 15px;
}

.toratto-section-title {
  color: #6cc24a;
  text-align: center;
  letter-spacing: 0.1em;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #004c97;
}

.toratto-section-background-01 {
  background: url(../../images/trama01.png) 0 0 repeat;
}

.toratto-section-background-02 {
  background: url(../../images/trama02.png) 0 0 repeat;
}

.toratto-section-background-03 {
  background: url(../../images/trama03.png) 0 0 repeat;
}

@mixin general_text_icon() {
  color: $theme-color-green;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  font-size: 25px;

  .far,
  .fas {
    color: $theme-color-blue;
  }
}

@mixin toratto_text_icon() {
  color: $theme-color-green;

  .far,
  .fas {
    color: $theme-color-blue;
  }
}

.btn-toratto-green {
  color: #fff;
  border-color: $theme-color-green;
  font-weight: bold;

  &:hover {
    color: #fff;
    background-color: $theme-color-green;
    border-color: $theme-color-green;
  }
}

.toratto-text-icon {
  @include toratto_text_icon();
}

.toratto-content-center {
  position: relative;
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
