/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

$theme-color-green: #7cb046;
$theme-color-green-hard: #7cb046;
$theme-color-blue: #004c94;
$theme-color-soft-blue: #1a5e9f;
$theme-color-alt-blue: #627b98;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
